In [3]:
import mysql.connector as mysql

mydb = mysql.connect(
    host = "localhost",
    user="panda",
    passwd="woshizhu")
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x112022400>

### Creating a Database

In [4]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE mydatabase")

### Check if database exists

In [6]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

### can also access the database when making the connection

In [8]:
import mysql.connector as mysql

mydb = mysql.connect(
    host="localhost",
    user="panda",
    passwd="woshizhu",
    database="mydatabase"
)

### creating a table

In [9]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers\
    (name VARCHAR(255), address VARCHAR(255))")

In [10]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

### Primary Key

In [ ]:
import mysql.connector as mysql

mydb = mysql.connect(
    host="localhost",
    user="panda",
    passwd="woshizhu",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute(sql = "CREATE TABLE custormers (id INT\
    AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address\
    VARCHAR(255))")

### if the table already exists, use the ALTER TABLE keyword

In [11]:
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT\
    AUTO_INCREMENT PRIMARY KEY")

### Insert into table

In [12]:
import mysql.connector as mysql

mydb = mysql.connect(
    host="localhost",
    user="panda",
    passwd="woshizhu",
    database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql,val)

mydb.commit()

print(mycursor.rowcount, "record inserted")

1 record inserted

### Insert multipel rows

In [13]:
import mysql.connector as mysql

mydb = mysql.connect(
    host="localhost",
    user="panda",
    passwd="woshizhu",
    database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql,val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

### get inserted ID

In [14]:
import mysql.connector as mysql

mydb = mysql.connect(
    host="localhost",
    user="panda",
    passwd="woshizhu",
    database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID: ", mycursor.lastrowid)

1 record inserted, ID:  15

### Select from a table

In [17]:
import mysql.connector as mysql

mydb = mysql.connect(
    host="localhost",
    user="panda",
    passwd="woshizhu",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

### using the fetchone() method

In [18]:
import mysql.connector as mysql

mydb = mysql.connect(
    host="localhost",
    user="panda",
    passwd="woshizhu",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchone()

print(myresult)

('John', 'Highway 21', 1)

In [19]:
import mysql.connector as mysql

mydb = mysql.connect(
    host="localhost",
    user="panda",
    passwd="woshizhu",
    database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Ben', 'Park Lane 38', 11)

### Wildcard Characters

In [20]:
import mysql.connector as mysql

mydb = mysql.connect(
    host="localhost",
    user="panda",
    passwd="woshizhu",
    database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Susan', 'One way 98', 9)
('Viola', 'Sideway 1633', 14)

### Prevent SQL injection

In [22]:
import mysql.connector as mysql

mydb = mysql.connect(
    host="localhost",
    user="panda",
    passwd="woshizhu",
    database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Vicky', 'Yellow Garden 2', 10)